/* //////////////////////////////////////////////// global controls */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-auto-rows: auto;
}

a {
  text-decoration: none;
}

/* navigation */

.navigation {
  background-color: #ffffff;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: 30px auto 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation img {
  grid-column-start: 2;
  grid-column-end: 3;
}

.navigation ul {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
  grid-column-start: 2;
  grid-column-end: 3;
  list-style-type: none;
  line-height: normal;
}

.navigation a {
  color: #073443;
  font-family: 'Museo sans', sans-serif;
  font-weight: 700;
}


/* //////////////////////////////////////////////// hero */

.hero {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 50px;
  margin-bottom: 70px;
}

.hero h5 {
  text-transform: uppercase;
  font-size: 3.3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #213942;
  letter-spacing: 0.5rem;
}

.hero h1 {
  font-size: 6.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #213942;
  margin-bottom: 2.5rem;
  margin-top: .75rem;
  line-height: 7rem;
}

.hero h2 {
  font-size: 3rem;
  font-family: 'Museo sans', sans-serif;
  line-height: 4rem;
  font-weight: 300;
}

.hero strong {
  color: #213942;
  font-weight: 900;
}

.hero img {
  display: block;
  margin: 0 auto;
  padding: 30px 0px;

}

.hero h3 {
  font-size: 4.5rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  line-height: 5rem;
  font-weight: bold;
  color: #213942;
  text-align: center;
}

.hero p {
  font-size: 2.2rem;
  font-family: 'Museo sans', sans-serif;
  line-height: 4.6rem;
  font-weight: 200;
  text-align: center;
  line-height: 3rem;
}

/* //////////////////////////////////////////////// project */

.project {
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: auto;
  background-color: #7FAACA;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-top: 70px;
  padding-bottom: 70px;
}

.project-2 {
  background-color: #A05E8B;
}

.project img {
  place-self: center;
  /* align-self: center; */
  grid-column-start: 2;
  /* grid-column-end: -1; */
}

.project h4 {
  font-family: 'Museo sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  padding-top: 2rem;
  color: #ffffff;
  /* margin-left: 35px;
  margin-right: 35px; */
  grid-column-start: 2;
  grid-column-end: 2;
}

.project h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  padding-top: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  /* margin-left: 35px;
  margin-right: 35px; */
  grid-column-start: 2;
  grid-column-end: 2;
}

.project p {
  font-family: 'Museo sans', sans-serif;
  font-weight: 100;
  font-size: 1.75rem;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 1rem;
  color: #ffffff;
  line-height: 2.5rem;
  /* margin-left: 35px;
  margin-right: 35px; */
  grid-column-start: 2;
  grid-column-end: 2;
}

button {
  background-color: #EFBF4E;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #213942;
  text-decoration: none;
  border: none;
  padding: 0.5rem 0rem;
  grid-column-start: 2;
  grid-column-end: 2;
}
/* //////////////////////////////////////////////// process */

.process {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 70px;
  margin-bottom: 70px;
}

.process h3 {
  font-size: 4.5rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  line-height: 6rem;
  font-weight: bold;
  color: #213942;
}

.process p {
  font-size: 2.2rem;
  font-family: 'Museo sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 3rem;
}

.process strong {
  color: #213942;
  font-weight: 900;
}

/* footer */

footer {
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #03241F;
  grid-column-start: 1;
  grid-column-end: 4;
}

footer h3 {
  font-size: 4.5rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  grid-column-start: 2;
  grid-column-end: -1;
}

footer p {
  font-size: 1.3rem;
  font-family: 'Museo sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
  margin-top: 3rem;
  margin-bottom: 3rem;
  grid-column-start: 2;
  grid-column-end: -1;
}

footer ul {
  align-self: center;
  font-size: 1.5rem;
  grid-column-start: 2;
  grid-column-end: -1;
}

footer li {
  display: inline;
  margin-left: 10px;
}

.svg {
  filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(267deg) brightness(107%) contrast(107%);
}

/* media queries */

@media screen and (min-width: 768px) {
.wrapper {
  width: 768px;
  background-color: teal;
  }
}

@media screen and (min-width: 1025px) {
.wrapper {
  width: 1250px;
  background-color: pink;
  }
}
