/* //////////////////////////////////////////////// global controls */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.wrapper {
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-auto-rows: auto;
}

a {
  text-decoration: none;
}

/* navigation */

.navigation {
  background-color: #ffffff;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: 30px auto 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation img {
  grid-column-start: 2;
  grid-column-end: 3;
}

.navigation ul {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
  grid-column-start: 2;
  grid-column-end: 3;
  list-style-type: none;
  line-height: normal;
  margin-left: 0px;
}

.navigation a {
  color: #073443;
  font-family: 'Museo sans', sans-serif;
  font-weight: 700;
}

/* takeaways */

.takeaways {
  display: grid;
  background-color: #D0DEE8;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: auto;
  padding: 50px 0px;
  align-self: center;
}

.takeaways p {
  font-family: 'museo sans', sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 33px;
  grid-column-start: 2;
  grid-column-end: 3;
}

h2 {
  color: #073443;
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  font-weight: bold;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 50px 0;
  text-transform: uppercase;
}

h3 {
  color: #073443;;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 10px;
  text-transform: uppercase;
}

h4 {
  color: #073443;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: bold;
  grid-column-start: 2;
  grid-column-end: 3;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 10px;
}

/* button {
  background-color: #EFBF4E;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 3px gray;
  color: #213942;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  grid-column-start: 2;
  grid-column-end: 3;
  place-self: center stretch;
  margin: 5rem 0;
  padding: 1rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
} */

.button {
  background-color: #EFBF4E;
  border: 2px solid #EFBF4E;
  margin: 2rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #213942;
  text-decoration: none;
  /* border: none; */
  padding: 1.5rem 0rem;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 5px;
  /* box-shadow: 2px 2px 3px gray; */
  color: #213942;
  justify-self: center;
  width: 220px;
}

.button:hover {
  background-color: #ffffff;
  border: 2px solid #EFBF4E;
}

















.wireframes img + p {
  color: #828282;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: normal;
  text-align: center;
}

.hi-fi-prototype img + p {
  color: #828282;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: normal;
  text-align: center;
}

/* process hero */

.hero {
  background-color: #073443;
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: auto;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-bottom: 20px;
}

.hero img {
  margin-top: 20px;
  place-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.hero h1 {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.hero p {
  color: #ffffff;
  font-family: 'museo sans', sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 33px;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 10px 0;
}
.svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(90deg) brightness(108%) contrast(101%);
  grid-column-start: 2;
  grid-column-end: 3;
}

/* summary */

.summary {
  grid-column-start: 2;
  grid-column-end: 3;
}

.summary h3 {
  color: #073443;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.summary p {
  font-family: 'museo sans', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 50px;
}

/* process */

.process {
  background-color: #D0DEE8;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: auto;
}

.process img {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 10px;
}

.process h4 {
  color: #073443;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: bold;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 0px;
  text-transform: uppercase;
}

.process p {
  font-family: 'museo sans', sans-serif;
  font-size: 23px;
  font-weight: 300;
  grid-column-start: 2;
  grid-column-end: 3;
  line-height: 30px;
  margin-bottom: 50px;
}

/* project brief */

.brief {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 50px 0;
}

.brief img {
  padding-bottom: 5px;
}

p {
  font-family: 'museo sans', sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 33px;
}

.brief li {
  font-family: 'museo sans', sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 35px;
  list-style-type: disc;
}

/* specifications */

.specifications {
  background-color: #D0DEE8;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: auto;
  padding-bottom: 50px;
}

ul {
  font-family: 'museo sans', sans-serif;
  font-size: 23px;
  font-weight: 300;
  grid-column-start: 2;
  grid-column-end: 3;
  line-height: 35px;
  list-style-type: disc;
  margin-left: 20px;
}

/* research */

.research {
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: auto;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: 50px;
}

.research img {
  grid-column-start: 2;
  padding-bottom: 5px;
}

.percentages {
  background-color: #D0DEE8;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 30px 1fr 1fr 30px;
  grid-template-rows: auto;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 20px 0px;
  margin-top: 20px;
}

.research strong {
  font-weight: bold;
}

.percentages span {
  font-size: 42px;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.percentages p {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 20px;
}

.research p {
  font-family: 'museo sans', sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 33px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.percentages .right {
  grid-column-start: 3;
  grid-column-end: 4;
}

/* competitive analysis */

.competitive-analysis {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 50px;
}

.competitive-analysis img {
  padding-bottom: 5px;
}

.competitive-logo {
  margin-top: 30px;
}

/* personas */

.personas {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 50px;
}

.personas img {
  margin: 20px 0;
}

em {
  color: #796423;
  display: block;
  font-family: 'museo sans', sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
}

.personas strong {
  color: #073443;;
  font-family: 'museo sans', sans-serif;
  font-size: 22px;
  font-weight: 500;
  grid-column-start: 2;
  grid-column-end: 3;
}

.personas ul {
  font-family: 'museo sans', sans-serif;
  font-size: 23px;
  font-weight: 300;
  grid-column-start: 2;
  grid-column-end: 3;
  line-height: 35px;
  list-style-type: disc;
  margin-left: 20px;
}

/* stories */

.stories {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 50px;
}

.stories img {
  padding-bottom: 5px;
}

table {
  font-family: 'museo sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin: 20px 0;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 460px;
  overflow: scroll;
}

.table-wrapper {
  width: 310px;
  height: 500px;
  overflow:auto;
}

td {
  height: 10px;
  vertical-align: middle;
}


th, td {
  padding: 10px;
  text-align: left;
  text-align: center;
}

th {
  background-color: #073443;
  color: white;
  font-family: 'museo sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #D0DEE8;
}

/* user flows */

.user-flows {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 50px;
}

.user-flows img {
  padding-bottom: 5px;
}

/* wireframes design and testing*/

.wireframes {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 50px;
}

.wireframes img {
  padding-top: 70px;
}

.wireframes h4 {
  padding-top: 10px;
}

/* high fidelity prototype */

.hi-fi-prototype {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 50px;
}

.hi-fi-prototype img {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 70px;
}

.hi-fi-prototype h4 {
  padding-top: 10px;
}

/* branding */

.branding {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 50px;
}

.branding .swatches {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: auto;
  grid-column-start: 2;
  grid-column-end: 3;
}

ul + p {
  color: #BDBDBD;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: normal;
  text-align: center;
}

.branding aside + p {
  color: #828282;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: normal;
  text-align: center;
}

.branding .typography {
  border: 1px gray solid;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
}

.typography h6 {
  font-family: 'rubik', sans-serif;
  font-size: 30px;
  margin-top: 19px;
}

.typography p {
  font-family: 'rubik', sans-serif;
  font-size: 20px;
}

.typography li {
  font-family: 'rubik', sans-serif;
  font-size: 15px;
}

/* preference */

.preference {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 50px;
}

.preference img {
  grid-column-start: 2;
  grid-column-end: 3;
}

.preference p span {
  font-family: 'museo sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  grid-column-start: 2;
  grid-column-end: 3;
  line-height: 33px;
}

/* highlights */

.highlights {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 50px 0;
}

.highlights img {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 70px;
}

.highlights h4 {
  padding-top: 10px;
}

/* reflexions */

.reflexions {
  background-color: #D0DEE8;
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: auto;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-bottom: 50px;
}

.reflexions p {
  font-family: 'museo sans', sans-serif;
  font-size: 23px;
  font-weight: 300;
  grid-column-start: 2;
  grid-column-end: 3;
  line-height: 33px;
}

/* footer */

footer {
  background-color: #03241F;
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: auto;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-bottom: 80px;
}

footer a {
  color: #ffffff;
}

footer p {
  font-size: 1.3rem;
  font-family: 'Museo sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 10px 0;
  text-align: left;
}

footer ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 0;
}

footer h3 {
  font-size: 40px;
  color: #ffffff;
  margin: 30px 0;
}

footer li {
  display: inline;
}

.svg {
  filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(267deg) brightness(107%) contrast(107%);
  grid-column-start: 2;
  grid-column-end: 3;
}

/* media queries */

@media screen and (min-width: 768px) {
.wrapper {
  width: 768px;
  background-color: teal;
  }
}

@media screen and (min-width: 1025px) {
.wrapper {
  width: 1250px;
  background-color: pink;
  }
}
